<div class="container__menu-bar">
  <ul>
    <li class="menu-bar__ul__social">
      <a href="https://linkedin.com/in/gustavo-enrick-lopes-de-sousa-67b099266" target="_blank">Linkedin</a>
      <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png"
      alt="">
    </li>
    <li><span>||</span></li>
    <li class="menu-bar__ul__social" >
      <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"
      alt="">
      <a href="https://github.com/Gustavo-Enrick?tab=repositories" target="_blank">Github</a></li>
  </ul>
</div>
